* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* layout sito web */
body {
    background-color: #efefef;
}

.container1 {
    max-width: 60%;
    margin: auto;
    margin-bottom: 2px;
    padding: 10px 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container2 {
    max-width: 60%;
    margin: auto;
    padding: 30px 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* header del sito */
.page-header {
    background-color: white;
    padding: 5px 20px;
}

.logo {
    width: 180px;
    vertical-align: middle;
}


.bg-white {
    background-color: white;
}

/* body del sito web */
.page-content {
    padding-top: 40px;
    background-color: blueviolet;
}

.button-task {
    background-color: rgb(0, 136, 255);
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(0, 136, 255);
    padding: 8px 15px;
}

.button-section {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: #efefef;
    padding: 8px 15px;
}

/* Tre elementi principali */
.title {
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}


.Element {
    display: inline-block;
    vertical-align: middle;
}

.check {
    color: rgb(66, 255, 66);
}

.task {
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(117, 117, 117);
    margin-right: 5px;
}

.badge {
    font-family: sans-serif;
    font-size: 10px;
    color: white;
    background-color: rgb(0, 136, 255);
    padding: 4px 8px;
    border-radius: 20px;
}

.New-Task {
    margin-bottom: 40px;
}