* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* layout sito web */
body {
    background-color: #efefef;
}

.container1 {
    max-width: 60%;
    margin: auto;
    margin-bottom: 2px;
}

.container2 {
    max-width: 60%;
    margin: auto;
}

/* header del sito */
.page-header {
    background-color: white;
    padding: 5px 20px;
}

.logo {
    width: 180px;
    vertical-align: middle;
}


.bg-white {
    background-color: white;
}

/* body del sito web */
.page-content {
    padding-top: 40px;
    background-color: blueviolet;
}